{% extends 'books.html' %}
{% block  booksarea%}

<script type="text/javascript">
    
    
  let Length = Number("{{length}}");
  let quo = Math.floor(Length/4);
  let rem = (Length%4);
  let total_groups = quo+rem;
  let count = 0;
  let group_number = 1;
  let col;
  let heading ;
  let front;
  let inner;
  let innerback;
  let description;
  let container;
  let card_group;
  let breaktag = document.createElement("br");
  let root=document.querySelector("div[id='id_root']");
  let back;
  let cols;
  var div_no;
  if (screen.width<600)
    {
      div_no = 2
    }
    else{
      div_no = 5
    }
  $(window).resize(resizeFn())

  function resizeFn()
  {
    if (screen.width<600)
    {
      div_no = 2
    }
    else{
      div_no = 5
    }
  }
  document.write("{%for book in books%}")
  // for (let i=1;i<=Number("{{length}}");i++)
    if ("{{book.gener | lower}}" == "{{gener | lower}}")
  {
    {
      if ((count%div_no)==0)
        {
            
          
           card_group = document.createElement('div');
           Object.assign(card_group,{className:'card-group',id: `card_group${group_number++}`});
        }
        card =document.createElement('div');
        Object.assign(card, {className: 'card'});
        
        container=document.createElement('div');
        Object.assign(container, {className: 'container'});
        
        back=document.createElement('div');
        Object.assign(back, {className: 'back'});
    
        front = document.createElement('div');
        Object.assign(front, {className: 'front',style:"background-image:url(/media/{{book.bookThumbnail}})"});
        
        hyperlink = document.createElement('a');
        Object.assign(hyperlink, {href:"/book-publisher/book/{{book.id}}/",title:"{{book.bookTitle}}"});
    
        inner = document.createElement('div');
        Object.assign(inner, {className:'inner'});
       
        innerback = document.createElement('div');
        Object.assign(innerback, {className:'inner'});
    
        heading = document.createElement('p');
        heading.innerHTML = '{{book.bookTitle}}';
        Object.assign(heading,{style:'font-size:small;z-index:1;'});
    
        description = document.createElement('p');
        description.innerHTML = "<b>Publisher Name: {{book.name}}<br>Author: {{book.authorName}} <br> Gener: {{book.gener}} <br> Description: {{book.description | slice:'0:170'}}...</b>";
        Object.assign(description,{className:'description'});
    
        innerback.appendChild(description);
        back.appendChild(innerback);
        front.appendChild(inner);
        container.appendChild(back);
        container.appendChild(front);
        card.appendChild(container);
        hyperlink.appendChild(card);
        card_group.appendChild(hyperlink);
        root.append(breaktag)
        root.appendChild(card_group);
        
    
        count = count+1;
    }
  }
  document.write("{%endfor%}")
    
</script>

{% endblock booksarea %}



